//= require ../foundation_and_overrides

@import "compass";
@import "compass/css3";
@import "compass/css3/opacity";
@import "compass/css3/transform";

body {
  font-size: 12px;
}

#main {
  padding: 15px;
}

table {
  width: 100%;

  a.button {
    margin-bottom: 0 !important;
  }
}

.top-bar-section .has-dropdown > a {
  padding-right: 15px !important;

  &:after {
    display: none !important;
  }
}

.form-duration-inline {
  select {
    display: inline-block;
    width: 60px;
  }
}
