
#footer {
  margin-top: 46px;
  background: image-url('components/footer/bg_footer_link.png');

  .pagetop {
    position: absolute;
    margin: -181px 0 0 734px;

    a:hover {
      opacity: $opacity-hover;
    }
  }

  .link {
    @include clearfix;
    margin: 70px auto 60px auto;
    width: 470px;

    a { color: #333333; }

    ul {
      float: left;

      li {
        height: 16px;
        background: image-url('components/footer/ico_footer_list.png') no-repeat top left;
        padding-left: 24px;
        margin-bottom: 10px;
        font-size: 11px;
      }

      &.event {
        width: 199px;

        li:first-child {
          font-size: 12px;
        }
      }
      &.sitemap {
        font-size: 12px;
      }
    }

  }

  .copyright {
    height: 58px;
    background: image-url('components/footer/bg_footer.png');
    color: #d8af17;

    p {
      padding: 21px 0 0;
      text-align: center;
    }
  }
}