
/*=== Body
==============================================================================================*/
html, body {
  height: 100%;
}
body {
  background: #fff image-url('common/bg_pattern.png');
  font: 12px/1.6 $family;
  text-align: center;
  min-height: 100%;
  @include experimental(font-smoothing, antialiased);

  > * { text-align: left; }
}

#contents {
  @include clearfix;
  margin: 18px 0;

  #main {
    float: left;
    width: 650px;
  }

  #side {
    float: right;
    width: 300px;
  }
}