
/*=== Body
==============================================================================================*/
html, body {
  height: 100%;
  overflow: hidden;
}
body {
  background: #fff;
  font: 12px/1.6 $family;
  text-align: center;
  min-height: 100%;
  @include experimental(font-smoothing, antialiased);

  > * { text-align: left; }
}

