/*=== Headering
==============================================================================================*/
#main {

	h2, h3, h4, h5 {
		color: $side-bg-color;
		letter-spacing: 1px;
		cursor: default;
	}

	h2 {
		font-size: 20px;
		margin-top: 50px;
		padding-bottom: 25px;
		margin-bottom: 25px;
		border-bottom: 1px solid $main-rule-color;
	}

	h3 {
		font-size: 18px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	h4 {
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	h5 {
		font-size: 11px;
		font-weight: bold;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	h2 + h3 {
		margin-top: 25px;
	}

	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	* > h2:first-child,
	* > h3:first-child,
	* > h4:first-child,
	.top-title {
		margin-top: 0;
	}
}


/*=== Paragraph
==============================================================================================*/
p + p {
	margin-top: 15px;
}


/*=== Anchor
==============================================================================================*/
a {
	color: $anchor-color;
	cursor: pointer;
	@include transition(.3s linear);

	&:hover {
		color: darken($anchor-color, 20%);
	}
}


/*=== Emphasize
==============================================================================================*/
em {
	font-weight: normal;
	font-style: italic;
}
strong {
	font-weight: bold;
}


/*=== Sup / Reference
==============================================================================================*/
sup {
	padding-left: 1px;
	font-size: 9px !important;
	font-weight: normal !important;
	vertical-align: top;
	position: relative;
	top: 0;
	white-space: nowrap;
	display: inline-block;
	line-height: 9px;

	a {
		color: #888;

		&:hover {
			color: #005195;
			text-decoration: none;
		}
	}
}


/*=== Phrase Elements
==============================================================================================*/
pre,
code {
	font-size: 11px;
	font-family: $family-code;
	background-color: #f7f7f7;
	border: 1px solid rgba(0, 0, 0, .15);
	letter-spacing: 0 !important;
	white-space: pre;
}
pre {
	display: block;
	margin: 0 0 10px;
	// @include force-wrap;
	@include border-radius(4px);

	& + & {
		margin-top: -11px;
	}
}
code {
	padding: 2px 4px;
	@include border-radius(3px);

	pre & {
		display: block;
		padding: 6px;
		background-color: transparent;
		border: 0;
		// @include force-wrap;
	}
}

acronym {
	font-size: 0.917em;
}
abbr {
	cursor: help;
}
del {
	text-decoration: line-through;
}


/*=== Badge
==============================================================================================*/
.badge {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	padding: 0;
	line-height: 16px !important;
	background: $primary-color;
	height: 16px;
	min-width: 16px;
	text-align: center;
	color: $titlebar-bg-color;
	letter-spacing: 0;
	@include border-radius(16px);
}


/*=== Custom Phrase Elements
==============================================================================================*/
.note {
	color: $muted-color !important;
	text-decoration: none;
	background-color: none;
}

.note-red {
	color: #ff3f47;
	text-decoration: none;
	background-color: none;
}

.required {
	color: #c00;
}

.txt-large {
	font-size: 1.35em;
}
.txt-small {
	font-size: 0.85em;
}

.txt-left {
	text-align: left;
}
.txt-right {
	text-align: right;
}
.txt-center {
	text-align: center;
}

