%footer#footer

  .container

    .pagetop
      = link_to image_tag('components/footer/btn_pagetop.png', size: '233×186', alt: 'topに戻る'), '#'

    .link

      %ul.event
        %li イベントを探す
        %li 23区西エリアのイベント
        %li 23区東エリアのイベント
        %li 多摩エリアのイベント
        %li その他のエリアのイベント

      %ul.sitemap
        %li 特集・おすすめ
        %li AtoZ Shop & Creator File
        %li Blog
        %li マルシェルジュとは?
        %li お問い合わせ

  .copyright
    %p &copy; Marcierge 2014. All Rights Reserved.
