%header
  %h1
    = image_tag 'http://placehold.it/300x100.png', size: '300x100', alt: 'marcierge'

  .sub
    %ul.info
      %li マルシェルジュとは？
      %li 掲載のお問い合わせ

    %ul.social
      %li twitter
      %li facebook

%nav
  %ul
    %li イベントを探す
    %li 特集・おすすめ
    %li AtoZ Shop&Creator File
    %li BLOG