
#ad
  =image_tag 'http://placehold.it/300x290.png', size: '300x290'


#pickup

  .title
    %h2 人気 & 注目のイベント

  .body

    %ul
      %li 1位
      %li 2位
      %li 3位


#blog

  .title
    %h2 ブログ

  .body

    %ul
      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

  .more
    = image_tag 'http://placehold.it/190x30.png', size: '190x30'


#news

  .title
    %h2 ニュース

  .body

    %ul
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！

  .more
    = image_tag 'http://placehold.it/190x30.png', size: '190x30'