
#pages.home {

  #near_event {
    width: 650px;
    background: #fff;
    padding: 20px 0;

    .title {
      position: absolute;
      margin: -23px 0 0 -38px;
    }

    .body {
      width: 610px;
      margin: 0 auto;
    }
  }
}