
#pages.home {

  #main {

    #near_event {
      margin-bottom: 20px;
      padding: 20px 0;
      background: #fff;

      .title {
        position: absolute;
        margin: -23px 0 0 -38px;
      }

      .body {
        width: 610px;
        margin: 0 auto;
      }

    }/* #near_event */


    #atoz {
      padding-top: 20px;
      background: image-url('common/bdr_section.png') no-repeat top left;

      .body {
        height: 323px;
        background: image-url('components/atoz/bg_atoz.png') no-repeat bottom left;
      }

      a {
        display: block;
        width: 628px;
        height: 300px;
        margin: 6px 0 0 10px;

        &:hover { opacity: $opacity-hover; }

        img {
          margin-top: 194px;
          margin-left: 182px;
        }
      }
    }/* #atoz */

  }/* #main */
}